@use "./global-styles/theme";
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Sans+Arabic:wght@100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


#extensionWrapper {
    -webkit-font-smoothing: antialiased;
    line-height: 1.5;
    font-family: "Iner", sans-serif;
    background-color: rgba(var(--bg));
    color: rgba(var(--on-bg));
}


[data-selector="chatInput"] {
    ::-webkit-scrollbar {
        display: none;
    }
}